numpy~=1.23.0
pandas~=1.5.3
torch==1.13.1
torchvision==0.14.1
scikit-learn~=1.2.2
scikit-survival~=0.21.0
scikit-multilearn==0.2.0
lifelines~=0.26.0
scipy~=1.10.1
pyyaml==6.0
tqdm==4.66.2
matplotlib~=3.7.3
seaborn~=0.12.2
tqdm~=4.66.2
notebook~=7.0.4
cvxpy~=1.5.1
plotly~=5.1.0
shap~=0.41.0
statsmodels~=0.13.2