numpy~=1.24.3
pandas~=1.5.3
torch==1.13.1
torchvision==0.14.1
scikit-learn~=1.2.2
scikit-survival~=0.21.0
scikit-multilearn==0.2.0
lifelines~=0.26.0
scipy~=1.10.1
pyyaml==6.0
tqdm==4.66.2
matplotlib~=3.7.3
tqdm~=4.66.2
notebook~=7.0.4
